##################
####### FE #######
##################
NEXT_PUBLIC_URL=http://localhost:3000

# Chain
NEXT_PUBLIC_CHAIN_ID=1001
NEXT_PUBLIC_RPC=https://public-node-api.klaytnapi.com/v1/baobab
NEXT_PUBLIC_TOKEN_VOTING=0x5de6CA1f91fB0d92dd0aaf34CDe761d9540CFEC7
NEXT_PUBLIC_CONTRACT_VOTING=0xcaAE66979034a790662542A61D286D48d5C3f277

###################
####### API #######
###################
SQLITE_PRISMA_URL=file:database.db

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Only for production – generate one here: https://generate-secret.vercel.app/32
JWT_SECRET=9d239bdc2df295fe9e5c1cba0505310e
NEXTAUTH_SECRET=9d239bdc2df295fe9e5c1cba0505310e

## Only required for localhost
NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_URL=https://domain.com/
